<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxq.welldone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test for my app"
        android:targetPackage="com.gxq.welldone" />

    <application
        android:name="com.gxq.utils.WellDoneApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
     
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="false" >
        <activity
            android:name="com.gxq.login.LogInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gxq.welldone.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gxq.welldone.EidtPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gxq.welldone.TimePickerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gxq.welldone.AlertActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <receiver android:name="com.gxq.utils.AlertReceiver" >
        </receiver>
        <receiver android:name="com.gxq.utils.MyAlarmManager" >
        </receiver>
        <!--
        <receiver android:name="com.gxq.utils.InstallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>